## Basic Concepts of Python

###  Variables, Constants and Literals

- Variables: They are like containers that store values. Unike C, C++ it does not need declaration prior use
- Identifiers: Used to identify the variables
- Constant: These are values that cant be changed. They remain constant throughout.
- Literals: It is used to express a specific value of a fixed data type.

### Nomenclature for naming variables in Python:
- Must start with a letter or underscore character
- Cannot start with a numeric digit
- Can only contain alphanumeric values and underscores
- They are case-sensitive

### Types of Variables

- Local Variable: Those which are defined in any function and their scope is limited to that function only.
- Global Variable: Those which are not defined inside a function and have a global scope

In [39]:
# Local variable
def prints():
    a=4
    print(a)
prints()
print(a) # wont print this

4
4

In [38]:
# Global variable
a=4
def prints():
    a=4
    print(a)
prints()
print(a)

4
4

### Data Types
- int

In [1]:
a=4
type(a)

int

- float

In [2]:
a=4.5
type(a)

float

- String(str)

In [3]:
a="Hello"
b='World'
# can use single or double invertd commas
type(a)

str

In [4]:
type(b)

str

- bool(Boolean)

In [15]:
a=True
type(a)

bool

### Comments

In [9]:
# Single line comments can be provided using hashtags(#)
# Multi-line comments can be provided using either hashtag for every comment
# Comments provide explanations and improve readability.

In [10]:
# To print a statement
print("Hello World")

Hello World

In [11]:
# Finding the sum of two values
2+3

5

In [12]:
a=4
b=5
a+b

9

In [13]:
# Taking user input
int(input("Enter the first value:"))
int(input("Enter the second value:"))

Enter the first value:4
Enter the second value:5

5

In [14]:
# Finding the sum of two numebers using user input
a=int(input("Enter the first value:"))
b=int(input("Enter the second value:"))
print("Sum of {} and {} is {}".format(a,b,a+b))

Enter the first value:4
Enter the second value:5
Sum of 4 and 5 is 9

### Operators

There are various operators that can be used to perform multiple operations.

#### Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations

In [18]:
# '+' operator(used for addition)
8+4

12

In [17]:
# '-' operator(used for subtraction)
8-4

4

In [22]:
# '/' operator(used for division: gives output in decimals)
a=8/4
a

2.0

In [23]:
type(a)

float

In [24]:
# '//' operator(used for division: gives ouput in integers)
a=8//4
a

2

In [25]:
type(a)

int

In [26]:
# '%' operator(modulus operator: returns the remainder upon division performed between two numbers)
8%4

0

In [27]:
# '*' operator(used for multiplication)
8*4

32

In [32]:
# '**' operator(exponential operator: finds the power of the mentioned numbers)
4**3

64

#### Assignment Operators
Assignment operators are used to assign values to variables

In [12]:
a=5

In [13]:
a+=4
a

9

In [14]:
a-=2
a

7

In [15]:
a*=2
a

14

In [16]:
a/=2
a

7.0

In [17]:
a//=2
a

3.0

#### Comparison Operators
Comparison operators are used to compare two values

In [18]:
a=4
b=5
a==b

False

In [19]:
a>=b

False

In [20]:
a<=b

True

In [21]:
a!=b

True

In [22]:
a>b

False

In [23]:
a<b

True

#### Logical Operators
Logical operators are used to combine conditional statements

In [24]:
a>5 and b<6

False

In [25]:
a>5 or b<6

True

In [26]:
not(a>5 and b<6)

True

#### Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location

In [27]:
# is operator: Returns true if both variables are the same object
# is not: Returns true if both variables are not the same object
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [28]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

#### Membership operators
Membership operators are used to test if a sequence is presented in an object

In [29]:
#in operator: Returns True if a sequence with the specified value is present in the object
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [30]:
#not in operator: Returns True if a sequence with the specified value is not present in the object
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

#### Bitwise operators
Bitwise operators are used to compare (binary) numbers

In [31]:
# '&' operator[and]
4&5

4

In [32]:
# '|' operator[or]
4|5

5

In [33]:
#  '^' operator[xor]
4^5

1

In [34]:
# '~' operator[not]
~4

-5

In [35]:
# '<<' operator[bitwise left shift operator]
4<<2

16

In [37]:
# '>>' operator[bitwies right shift operator]
4>>2

1

### Type Conversions
 
 Type conversions are of two types:
 - Implicit Type Conversion
 - Explicit Type Conversion
 
 #### Implicit Type Conversion
 
 Automatically converts one data type to another without any user involvement

In [29]:
x=10
print(type(x))
y=1.2
print(type(y))
print("Sum {}".format(x+y))
print(type(x+y)) #implicit type conversion

<class 'int'>
<class 'float'>
Sum 11.2
<class 'float'>

#### Explicit Type Conversion

The data type is manually changed by the user as per their requirement.

In [31]:
s='12'
print(type(s))
a=4
print(type(a))
#explicit type conversion
b=int(s)
print(type(b))
print("Sum is {}".format(a+b))
print(type(a+b))

<class 'str'>
<class 'int'>
<class 'int'>
Sum is 16
<class 'int'>

### Lists

- Lists are used to mulitple items in a single variable
- They are enclosed in square brackets and items of any data type can be stored
- They are ordered, mutable or changeable

#### Difference between lists and arrays
Multiple data types can be stored in a single list whereas an array is a collection of only a single data type

In [2]:
list1=["apple","banana"]
type(list1)

list

### Tuples

- Tuples are used to store multiple items in a single variable
- Ordered and immutable or unchangeable

In [3]:
tuple1=("roses","daisies")
type(tuple1)

tuple

### Sets

- Sets are unordered, unchangeable and unindexed
- They are used to store mulitple items in a single variable

In [4]:
set1={1,2,3,4,5}
type(set1)

set

### Dictionary

- The values in dictionary are stored as key-value pairs.
- They are mutable or changeable and ordered, does not allow duplicate values

In [5]:
dict1={"car1":"BMW","car2":"Audi","car3":"Mercedes"}
type(dict1)

dict

### Conditional statements
- If
- Elif
- Else

In [6]:
# Application of if statement
# Write a program to check if a person can vote or not
age=int(input("Enter the age of a person:"))
if(age>=18):
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

Enter the age of a person:23
You are eligible to vote

In [46]:
# Check it its a negative, positive number or zero
a=int(input("Enter a number:"))
if(a>0):
    print("Positive number")
elif(a<0):
    print("Negative number")
else:
    print("Zero")

Enter a number:0
Zero

### Nested if

In [7]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

### Pass statement

If statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [8]:
a = 33
b = 200

if b > a:
  pass

### Escape Characters

-  To insert characters that are illegal in a string, use an escape character.
-  An escape character is a backslash \ followed by the character you want to insert.

- \': Single Quote
- \\: Backslash
- \n: New line
- \r: Carriage return
- \t: Tab
- \b: Backspace
- \f: Form feed
- \ooo: Octal value
- \xhh: Hex value

### Loops

Python has two primitive loop commands
- for loop
- while loop

In [38]:
# while loop
i=1;
while(i<=5):
    print(i)
    i=i+1

1
2
3
4
5

In [40]:
# for loop
for i in range(1,6):
    print(i)

1
2
3
4
5

#### Break statement
With the break statement we can stop the loop even if the while condition is true

In [44]:
i=1
while(i<=5):
    print(i)
    i=i+1
    if(i==3):
        break

1
2

#### Continue statement
With the continue statement we can stop the current iteration, and continue with the next

In [50]:
i=1
while(i<=5):
    print(i)
    i=i+1
    if(i==3):
        continue

1
2
3
4
5